/*global*/
/*global*/
html{
    font-size: 62.5;/*1rem=10px*/
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;

}

a{
    color: black;
    text-decoration: none;
}
p{
    font-size: 1.6rem;
    line-height: 2;
}
img{
    max-width: 100%;
}
#container{
    max-width: 100vh;
    max-height: 60%vh;
}

#results {
    background-color: rgb(177, 137, 78);
    text-align: center;
}
/*utilities*/
.container{
    width: 70%;
    margin: 0 auto ;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
 }
@media(max-width:768px){
    .container{
        width: 90%;
    }
    .flex-container{
       flex-direction: column;
    }
    
}
    /*header*/

    header.site-header{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    background-image: url(../img/dogpic.jpg);
    font-family: 'Open Sans', sans-serif;
    height: 80vh;
    background-position:no-repeat bottom center;
    background-size: cover;

}
header.site-header h1{
    font-size: 3.5rem;
    color: white;
    margin: 0;
    padding: 0;

}
header.site-header p{
    color: white;
    text-align: center;
    

}
.menu{
    
    display:flex;
    width: 25rem;
}
.menu a{
    display:block;
    color: white;
    font-size: 1.6rem;
}
/*mobile menu*/
.mobile-menu{
    display: none;
}
.bars{
    width:2rem;

}
nav#navigation{
    display: flex;
    justify-content: space-between;

}
@media(max-width:768px){
    .mobile-menu{
        display: block;
    }
    nav#navigation{
        display: none;
    }
    nav#navigation{
        flex-direction: column;
    }
}
#navigation:target{
    display:block;
}