
/*global*/
.error{
    background-color: red;
}
#notifications{
    height: 100px;
    border-radius: 10px;
    padding:1rem;
}
#pets{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    margin-top: 2 rem;
}
.petCard{
    background-color:blueviolet; 
    padding: 1 rem;
    border-radius:5px;
}
.btn-del{
    background-color:transparent;
    border:none;
}
.btn-del i:hover{
    color: red;
}

 header{
    padding: 15px;
}
h1{
    font-family: 'Tangerine', cursive;
    font-weight: bold 700;
    text-align: center;
}
h2{
    text-align: center;
}
body{
    background: whitesmoke;  
    font-family: 'Roboto', sans-serif;
        
    color: #EEFFFD;
}
.nav-link{
    color: #EEFFFD;
    
}
a:hover{
    background-color: #0c5388;
}

main{
    background: #4fb8dfd8;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: flex;
    width: 60rem;
    box-shadow: -3px -2px 6px #6c6565, 7px 9px 25px #0b0b0b;
}
footer{
    margin-top: 90%;
    text-align: center;
}


 
tablet{
    padding-top: 10px;
}